.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }

    .search-input-group {
        width: 60%!important;
    }
}

/* navbar-top-fixed.css */
/* Show it is fixed to the top */
body {
  min-height: 75rem;
  padding-top: 4.5rem;
    /*background-color: #ccc;*/
}

/* Sticky footer */
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
main > .container {
  padding: 60px 15px 0;
}

.footer {
  background-color: #f5f5f5;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.user-block {
    font-size: 14px;
}

.user-block .nav-link {
    padding: .1rem 10px;
}

.tp-nav-item {
}

.tp-nav-item.active {
    color: rgba(0,0,0,.7);
}

.tp-voting {
    text-align: center;
    margin-right: 1rem;
}

.tp-voting button {
    background: transparent;
    border: transparent;
    font-weight: 900;
    font-size: 20px;
    color: #8c54a1;
    line-height: .5;
}

.tp-voting div {
   line-height: 1;
}

.tp-question-block {
    padding-top: 1rem;
    margin-bottom: 1rem;
    border-top: 1px solid #ccc;
}
.tp-question-block .q-description {
    margin-bottom: .3rem;
}

.tp-question-block .q-description.short {
    line-height: 1.5em;
    height: 3em;       /* height is 2x line-height, so two lines will display */
    overflow: hidden;  /* prevents extra lines from being visible */
    text-overflow: ellipsis;
}

.tp-top-bar {
    box-shadow: 0 1px 0 rgba(12,13,14,0.1), 0 1px 6px rgba(59,64,69,0.1);
    border-bottom: 0.01px solid #d6d9dc;
}
